img{

	border: 3px solid blue;
	float: right;
	box-shadow: 3px 3px 3px black;
	margin-top: -110px;
	width: 150px;
	height: 130px;
}

h1{
	text-align: center;
	font-size: 40px;
}

h2{
	font-size: 30px;
	color: grey;
}

body{
	background-image: url('image.jpg');
	/* opacity: 5px; */
}
p{
	font-size: 20px;
}
li{
	font-size: 20px;
}

@font-face 
{
    
    font-weight: normal;
    font-style: normal;


}
h1, h2
{
    font-family: 'droid_sansregular', 'Arial', sans-serif;
}

h1+p{
	text-align: center;
	color: red;
}
p{
	width: 70%;
}